root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true

[*.{js,ts}]
max_line_length = 100

[*.tolk]
indent_size = 4
max_line_length = 100
